<div class="relative bg-cover bg-center h-[92vh] text-white flex justify-center items-center" style="background-image: url('../../../assets/hero.jpg')">
    <div class="bg-gray-800 bg-opacity-80 absolute inset-0"></div>
    <div class="md:w-1/2 text-center relative">
        <h1 class="mb-2 text-5xl font-bold text-gray-300">Bienvenido a PokeAPI Web</h1>
        <h2 class="mb-4 text-4xl font-bold text-gray-300">Explora el mundo de los Pokémon</h2>
        <div class="text-center">
            <button class="mt-4 bg-gray-800 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded-lg text-lg" routerLink="pokemon" routerLinkActive="router-link-active">Busca tu Pokémon favorito</button>
        </div>
    </div>
</div>
